<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list-header>
    <ion-label> Notifications PUSH</ion-label>
  </ion-list-header>

  <ion-list *ngFor="let push of pushService.messages">
    <ion-item>
      <ion-label>
        <h3> {{ push.title }} </h3>
        <p> {{ push.body }}  </p>
        <p > {{ push.additionalData | json }}</p> 
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
